footer {
  background-color:#3F3B3D;
  width: 100%;
  height: 70px;
}
.foot {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgb(46, 46, 46);
  align-self: center;
  padding-top: 10px;
}
.foot p {
  color:white;
  font-family: 'Roboto';
}
.foot span {
  color: orange;
  font-family: 'Roboto';
}
a:hover {
  color: orange;
}

@media (max-width: 1000px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  header img:first-child {
    width: 20px;
    display: flex;
  }
  header a {
    display: none;
  }
  .sect1-color {
    width: 100%;
  }

  .section-1 .sect11 {
    display: none;
    display: none;
  }

  .section-2 {
    margin-top: 150px;
  }

  .sect3-top {
    display: flex;
    flex-wrap: wrap;
  }

  .text1-sect3 h6 {
    margin-left: -40px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }
  .text1-sect3 p {
    margin-left: -30px;
  }
  .text-sect3 h6 {
    margin-left: -120px;
    font-size: 20px;
  }
  .text-sect3 p {
    margin-left: -120px;
  }

  .left img {
    width: 90%;
    height: 100%;
  }
  .best {
    font-size: 14px;
  }

  .s5-box img {
    width: 50%;
    height: 50%;
  }
  .box-text {
    font-size: 10px;
  }
  .s5-left {
    width: 90%;
    height: 35%;
  }
  .s5-left p {
    width: 90%;
    font-size: 10px;
  }

  .section-6 {
    font-size: 10px;
    height: 1100px;
  }
  .s6-text p {
    font-size: 16px;
  }

  .s6-btm {
    width: 200px;
  }
  .s6-img {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  body {
    width: 100%;
    overflow-x: hidden;
  }
  header button {
    display: none;
  }
  .magazin img {
    display: none;
  }
  .magazin img {
    width: 10px;
  }
  .section-3 {
    display: flex;
    justify-content: center;
    width: 400px;
    margin-left: 50px;
  }
  .buy-btn {
    font-size: 7px;
  }
  .section-1 p {
    font-size: 20px;
  }

  .sect2-bottom {
    display: flex;
    flex-wrap: wrap;
  }
  .section-3 {
    display: flex;
    justify-content: center;
  }
  .sect4-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rightt {
    width: 100%;
  }
  .left {
    display: flex;
    justify-content: center;
  }
  .sect4-bottom {
    display: flex;
    flex-direction: column;
  }

  .sect5 {
    margin-top: 900px;
    display: flex;
    flex-direction: column;
  }
  .sect5-left {
    width: 100%;
  }
  .s5-box {
    width: 100%;
  }
  .section-6 {
    height: 1900px;
  }
  .s6-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
}
